.row{
    margin: 0 !important;
}

ul{
    list-style: none;
}

ul a{
    color: black !important;
    margin-right: 16px !important;
}


a{
    text-decoration: none !important;
}

//  Paddding

.p-0{
    padding: 0 !important;
}

.pRL-128{
    padding-left: 128px !important;
    padding-right: 128px !important;
}

//  Margin

.m-0{
    margin: 0 !important;
}

.mR-32{
    margin-right: 32px !important;
}

.mL-32{
    margin-left: 32px !important;
}

.mL-8{
    margin-left: 8px !important;
}

.mB-32{
    margin-bottom: 32px !important;
}

.mB-64{
    margin-bottom: 64px !important;
}

.mT-128{
    margin-top: 128px !important;
}